In [ ]:
import requests
from bs4 import BeautifulSoup
import json

#url = f"https://search.naver.com/search.naver?where=news&query=%EB%B6%80%EC%82%B0%20%EC%97%AC%ED%96%89&sm=tab_opt&sort=0&photo=0&field=0&pd=3&ds=2019.01.01&de=2020.12.31&docid=&related=0&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so%3Ar%2Cp%3Afrom20190101to20191231&is_sug_officeid=0"
# url = "https://www.youtube.com/results?search_query=%EC%97%AC%EC%88%98+%EC%97%AC%ED%96%89+after%3A2019-01-01+before%3A2019-12-31"
url = 'https://www.youtube.com/watch?v=5X8U7f5x_Mw'

res = requests.get(url)
bsobj = BeautifulSoup(res.text, "html.parser")

# temp = json.loads(bsobj.text)

# div_title = bsobj.find(attrs={'id' : 'video-title'})
# print(div_title)
print(bsobj)

In [7]:
import pandas as pd
import numpy as np
import requests
import json

# 4v/XXZznkD3SCcJp7CyUoOWABW7X9ib7WVy8BSLXPP7p6oreiizIiv0dmvNcDd+dit+UgGjJmdS62Z5X38HLYw==
# 4v%2FXXZznkD3SCcJp7CyUoOWABW7X9ib7WVy8BSLXPP7p6oreiizIiv0dmvNcDd%2Bdit%2BUgGjJmdS62Z5X38HLYw%3D%3D
# /metcoRegnVisitrDDList

serviceKey = '4v/XXZznkD3SCcJp7CyUoOWABW7X9ib7WVy8BSLXPP7p6oreiizIiv0dmvNcDd+dit+UgGjJmdS62Z5X38HLYw=='

totalCount = 0
numOfRows = 100

params = {
  'numOfRows': numOfRows,
  'pageNo': 1,
  'MobileOS': 'WIN',
  'MobileApp': 'AppTest',
  'serviceKey': serviceKey,
  '_type': 'json',
  'startYmd': '20220101',
  'endYmd': '20221231'
}
res = requests.get('http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList', params=params)
text = json.loads(res.text)
# print(text['response']['body']['items']['item'])
totalCount = text['response']['body']['totalCount']
data = pd.DataFrame(text['response']['body']['items']['item'])
# display(data.info())

dif = int(totalCount / numOfRows)

# for i in range(int(dif)):
for i in range(1, dif):
  params = {
    'numOfRows': numOfRows,
    'pageNo': i + 1,
    'MobileOS': 'WIN',
    'MobileApp': 'shockzTest',
    'serviceKey': '4v/XXZznkD3SCcJp7CyUoOWABW7X9ib7WVy8BSLXPP7p6oreiizIiv0dmvNcDd+dit+UgGjJmdS62Z5X38HLYw==',
    '_type': 'json',
    'startYmd': '20220101',
    'endYmd': '20221231'
  }
  res = requests.get('http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList', params=params)
  text = json.loads(res.text)
  # print(text)
  data = pd.concat([data, pd.DataFrame(text['response']['body']['items']['item'])]).reset_index(drop=True)

data

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
0,11,서울특별시,1,월요일,1,현지인(a),4571658.0,20220103
1,11,서울특별시,1,월요일,1,현지인(a),4588164.0,20220110
2,11,서울특별시,1,월요일,1,현지인(a),4565344.0,20220117
3,11,서울특별시,1,월요일,1,현지인(a),4619083.0,20220124
4,11,서울특별시,1,월요일,1,현지인(a),3255500.5,20220131
...,...,...,...,...,...,...,...,...
18495,50,제주특별자치도,7,일요일,2,외지인(b),184961.0,20220109
18496,50,제주특별자치도,7,일요일,2,외지인(b),208099.5,20220116
18497,50,제주특별자치도,7,일요일,2,외지인(b),199370.5,20220123
18498,50,제주특별자치도,7,일요일,2,외지인(b),235343.5,20220130
18499,50,제주특별자치도,7,일요일,2,외지인(b),158154.5,20220206