In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# data columns

# videoId,
# title,
# description,
# tags,
# viewCount,
# likeCount,
# favoriteCount,
# commentCount,
# publishedAt,
# channelId,
# channelTitle,
# country

use_columns = ['videoId', 'title', 'description', 'tags', 'viewCount', 'likeCount', 'favoriteCount', 'commentCount', 'publishedAt', 'channelId', 'channelTitle', 'country']

In [8]:
from dotenv import load_dotenv
import os
import sys
import pandas as pd
import numpy as np
from youtubeapi import YoutubeApi
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import matplotlib.font_manager as fm
sys.path.append('../refs/')
from utils import Utils

# font setting
font_location = 'C:/Windows/Fonts/Malgun.ttf' if sys.platform == 'win32' else '/System/Library/Fonts/AppleSDGothicNeo.ttc'
font_name = fm.FontProperties(fname=font_location).get_name()
# print(font_name)
matplotlib.rc('font', family=font_name)

load_dotenv()
apiKey = os.environ.get('YoutubeApiToken')
url = 'https://youtube.googleapis.com/youtube/v3/'

api = YoutubeApi(apiKey, use_columns)

searchQuery = '코이티비 베트남'
# maxResults = 15

In [9]:
datas = api.search_videos(searchQuery)
df = api.get_video_dataframe(datas, '베트남')
df

,videoId,title,description,tags,viewCount,likeCount,favoriteCount,commentCount,publishedAt,channelId,channelTitle,country,publishedAtYear,publishedAtMonth
0,mzcV8BHbE3Y,베트남 이발소 낱낱이 파헤쳐보다! 각종 이발소 서비스! 풀버젼!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 풀버...",17349617,0,0,1589,2018-08-09 08:21:04+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,8
1,od_jct13cCo,두 미녀에게 받는 베트남 이발소 포핸드 서비스!,"*주소 8 Hậu Giang, Phường 4, Quận Tân Bình, TP H...","[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 베트...",11953005,50046,0,2094,2018-05-12 23:56:09+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,5
2,5e0SWLz-I8k,베트남에서만 받을 수 있는 이발소 서비스!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 미용...",9690594,0,0,1393,2018-08-05 03:24:51+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,8
3,DYkqeziklE8,베트남 이발소 포핸드 서비스 풀버젼! ASMR!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 이발...",7342048,33099,0,1547,2018-05-14 07:39:26+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,5
4,TJLdC2QxaRg,우리가 몰랐던 충격적인 딸기 먹는법!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 딸기...",6034357,23067,0,2949,2018-07-22 01:47:41+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,7
5,7cSbPR52rjY,우리가 몰랐던 충격적인 망고 먹는법!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 베트...",4719310,12895,0,1404,2018-02-06 02:57:29+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,2
6,cALJ-IcnXTY,외국인에게 사기치는 상인을 지나가던 베트남 아주머니가 참교육... 핵사이다!,"*영어자막제공 - ""유튜버 랭킹과 예상 수익이 한 곳에"" 래더 - http://b...","[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 음식...",4206537,27192,0,3039,2018-12-21 07:21:32+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,12
7,TjCi3trslcg,황홀한 베트남 바디마사지 풀서비스!! 오감자극!! 아흐~흥... ASMR | Ful...,"*주소: 79 R4-16 Hung Gia4, PMH, Q.7\n*Address: 7...","[베트남, 호치민, 사이공, 베트남 여행, 베트남 관광, 베트남 하노이, 베트남 다...",3795436,0,0,643,2018-01-05 03:21:18+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,1
8,H1QdM3nS1Fg,베트남 전통 바디마사지 풀서비스!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 마사...",3750215,0,0,622,2018-07-21 11:27:10+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,7
9,YhxXkxpx4fQ,베트남에서만 받을 수 있는 이발소 서비스!,*코이티비 채널은 베트남에 관한 이야기를 다루는 채널입니다.\n*비판은 감사하게 받...,"[베트남, 호치민, 사이공, vietnam, hochiminh, saigon, 미용...",3165230,0,0,983,2018-09-07 08:13:03+00:00,UCLvaHVogti2o0AkXoNZzeKA,코이티비 KOITV,베트남,2018,9

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   videoId           10 non-null     object
 1   title             10 non-null     object
 2   description       10 non-null     object
 3   tags              10 non-null     object
 4   viewCount         10 non-null     int64
 5   likeCount         10 non-null     int64
 6   favoriteCount     10 non-null     int64
 7   commentCount      10 non-null     int64
 8   publishedAt       10 non-null     datetime64[ns, UTC]
 9   channelId         10 non-null     object
 10  channelTitle      10 non-null     object
 11  country           10 non-null     object
 12  publishedAtYear   10 non-null     int64
 13  publishedAtMonth  10 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(6), object(7)
memory usage: 1.2+ KB

In [11]:
df.to_csv('../data/vietnam_youtube.csv', encoding='utf-8', index=False)

In [12]:
asia_data = pd.read_csv('../data/asia_data_kor.csv')
asia_data['Year'].fillna(method='ffill', inplace=True)
asia_data

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
0,2004년,1월,793478.0,NaN,164785.0,NaN,186246.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004년,2월,670447.0,NaN,142718.0,NaN,215373.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004년,3월,587629.0,NaN,112516.0,NaN,190382.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004년,4월,642413.0,NaN,120427.0,NaN,223062.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004년,5월,680185.0,NaN,115659.0,NaN,202592.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2019년,누계,28714247.0,0.000636,5584597.0,-0.259234,4346567.0,0.036924,4290802.0,0.248994,...,NaN,NaN,1408.0,0.410822,20322.0,0.356156,31108,-0.16416787575904135,NaN,NaN
260,2020년,누계,4276006.0,-0.851084,487939.0,-0.912628,0.0,NaN,840041.0,-0.804223,...,0.0,NaN,142.0,-0.899148,6825.0,-0.664157,6944,-0.7767776777677768,0,NaN
261,2021년,누계,1222541.0,-0.714093,18947.0,-0.961169,0.0,NaN,32500.0,-0.961311,...,0.0,NaN,0.0,NaN,1031.0,-0.848938,0,NaN,0,NaN
262,2022년,누계,6554031.0,4.360991,1012751.0,52.451787,0.0,NaN,769167.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0,NaN,NaN,NaN
263,2023년,누계,8159513.0,7.709519,2583383.0,100.808197,0.0,NaN,1317833.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0,NaN,NaN,NaN

In [13]:
year = df.loc[0, 'publishedAtYear']
month = df.loc[0, 'publishedAtMonth']

display(year, month)

2018

8

In [14]:
# 해당 동영상 년/월 의 방문자 수
masking = (asia_data['Year'] == (str(year) + '년')) & (asia_data['month'] == (str(month) + '월'))
published_asia_data = asia_data[masking]
display(published_asia_data)

# 해당 동영상 1년 전/후 의 방문자 수
prev_masking = (asia_data['Year'] == (str(year - 1) + '년')) & (asia_data['month'] == (str(month) + '월'))
prev_asia_data = asia_data[prev_masking]
display(prev_asia_data)

next_masking = (asia_data['Year'] == (str(year + 1) + '년')) & (asia_data['month'] == (str(month) + '월'))
next_asia_data = asia_data[next_masking]
display(next_asia_data)

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
175,2018년,8월,2519860.0,0.056412,593941.0,-0.043425,NaN,NaN,320714.0,0.330846,...,NaN,NaN,NaN,NaN,NaN,NaN,1874,-0.19258940112020684,NaN,NaN

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
163,2017년,8월,2385301.0,0.155534,620904.0,0.352947,NaN,NaN,240985.0,0.639042,...,NaN,NaN,NaN,NaN,NaN,NaN,2321,0.07007837713231901,NaN,NaN

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
187,2019년,8월,2427634.0,-0.0366,308730.0,-0.480201,NaN,NaN,401038.0,0.250454,...,NaN,NaN,NaN,NaN,NaN,NaN,1914,0.02134471718249742,NaN,NaN

In [15]:
idx_pub = published_asia_data.index.values[0]

prev_idx = prev_asia_data.index.values[0]
next_idx = next_asia_data.index.values[0]

# prev_period = asia_data.iloc[prev_idx:idx_pub+1, :]
prev_period = asia_data.iloc[prev_idx:idx_pub+1, asia_data.columns.get_loc('베트남_명수')]
display(prev_period)
# next_period = asia_data.iloc[idx_pub:next_idx+1, :]
next_period = asia_data.iloc[idx_pub:next_idx+1, asia_data.columns.get_loc('베트남_명수')]
display(next_period)

163    240985.0
164    213538.0
165    219733.0
166    224056.0
167    257107.0
168    316314.0
169    303391.0
170    272757.0
171    281385.0
172    267909.0
173    271848.0
174    252396.0
175    320714.0
Name: 베트남_명수, dtype: float64

175    320714.0
176    227249.0
177    303417.0
178    293481.0
179    324545.0
180    388977.0
181    383205.0
182    335612.0
183    338085.0
184    318326.0
185    314397.0
186    321493.0
187    401038.0
Name: 베트남_명수, dtype: float64

In [ ]:
sns.lineplot(data=prev_period)