In [426]:
#========================================================================================================#
#                                                  기본세팅                                              #
#========================================================================================================#
'''
사용법 : 코드를 Run All한뒤, 대륙명(한/영) 국가명(한/영 only Asia),
         시작일('yyyy-MM-dd'),종료일('yyyy-MM-dd')을 입력하면 CSV파일이 자동 생성됩니다.
         추가로, 옵션(선택사항에서) 변수의 사용자입력 옵션을 변경할수 있습니다.
'''

### notice : 중국 2016~2019년 월간지표 없음 연간만 있기 때문에 일단 보류...
#----------------------
# 0) 대륙 & 국가 & 날짜 세팅
#----------------------
continentName       =    input("대륙명을 입력하세요.  \n(ex : 아시아 or asia)")
countryName         =    input("국가명을 입력하세요.  \n(ex : 일본 or japan)")     # 현재는 아시아만 지원됨
startDate           =    input("시작일을 입력하세요.\n(ex : yyyy-MM-dd)")
endDate             =    input("종료일을 입력하세요.\n(ex : yyyy-MM-dd)")






#0.xx) 옵션(선택사항)
#-------------------------
# 옵션변경목록은 
# './dictionary.py'
# 하단주석 참고

# continentName       =    '아시아'
# countryName         =    '몽골'           # 현재는 아시아만 지원됨
# startDate           =    '2018-06-01'     # 1년치
# endDate             =    '2019-05-01'      
# startDate           =    '2016-06-01'     # 3년치
# endDate             =    '2019-05-01'

In [427]:
#---------------------
# 1) 모듈 자동 리로드
#---------------------
%load_ext autoreload
%autoreload 2

#---------------------
# 2) 항시적용모듈
#---------------------
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#---------------------
# 3) 파싱을위한모듈
#---------------------
from utils import *
from utils2 import *
from youtubeApi import YoutubeApi
from countryCodeAPI import CountryCodeApi

import csv
import json
from urllib import parse
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
from collections import OrderedDict

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [428]:
#---------------------
# 4) 한글폰트세팅
#---------------------
import matplotlib
import matplotlib.font_manager as fm
font_location = "C:\\Windows\\Fonts\\Malgun.ttf"
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font',family=font_name)

#---------------------
# 5) sns 테마설정
#---------------------
sns.set_theme(style='whitegrid')

#---------------------
# 6) API세팅
#---------------------
#  6-1) 유튜브 API 키
# youtubeApiKey = 'AIzaSyCYuiTxHY0bymW1O6yabaTHauf3fCrHbyI'
youtubeApiKey = 'AIzaSyBtTI5zfPtsdvyAco9CSiYmptN4NaHd40I'
# 유튜브 검색 키워드 지정
searchQuery = '곽튜브 일본'
# 유튜브 검색 갯수 지정
searchCount = 1
#  6-2) 국가코드 API 키
countryCodeApiKey = 'v6PZedo0OjiH84tKhGwXk8GpKTqVAbkYOrvk0crJjrGW7mJALzmAw0YQKf4csjvmkJcYhdAo0RtTLPrIBF66qQ=='


#----------------------
# 7) 객체 인스턴스 생성
#----------------------
youtubeApi = YoutubeApi(youtubeApiKey)
countryCodeApi = CountryCodeApi(countryCodeApiKey)
utils = Utils
utils2 = Utils2

In [429]:
#----------------------
# 8) 사용자 대륙/국가명 세팅
#----------------------
# 영문 대륙명 생성
continentNameEng = utils2.translateKorToEngForContinent(continentName)
# 영문 국가명 생성(only asia)
countryNameEng = utils2.translateKorToEngForCountry(countryName)

# 한글 대륙명 생성
continentNameKor = utils2.translateEngToKorForContinent(continentName)
# 한글 국가명 생성(only asia)
countryNameKor = utils2.translateEngToKorForCountry(countryName)


print(f'continentNameEng :   {continentNameEng}')
print(f'countryNameEng   :   {countryNameEng}')
print(f'continentNameKor :   {continentNameKor}')
print(f'countryNameKor   :   {countryNameKor}')

continentNameEng :   asia
countryNameEng   :   mongolia
continentNameKor :   아시아
countryNameKor   :   몽골

In [430]:
#========================================================================================================#
#                                               데이터프레임 생성(선택국가)                                           
#========================================================================================================#

In [431]:
# 1) 선택한 대륙의 한국인 방문객 CSV 파일 로드(데이터프레임)
#------------------
continentDataFrame =  utils2.getContinentalDataFrameFromCSV(f'./sourceData/{continentNameEng }_data_kor.csv')
continentDataFrame

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
0,2004년,1월,793478.0,NaN,164785.0,NaN,186246.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2월,670447.0,NaN,142718.0,NaN,215373.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3월,587629.0,NaN,112516.0,NaN,190382.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4월,642413.0,NaN,120427.0,NaN,223062.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5월,680185.0,NaN,115659.0,NaN,202592.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,2023년,1월,1782313.0,11.088887,565251.0,446.192247,NaN,NaN,258946.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,2월,1724880.0,14.302071,568622.0,621.806134,NaN,NaN,301343.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,3월,1472193.0,9.117956,466810.0,68.735584,NaN,NaN,250649.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,4월,1497105.0,5.955321,467000.0,59.657228,NaN,NaN,259357.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,5월,1683022.0,4.326946,515700.0,57.568995,NaN,NaN,247538.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [432]:
# 2) 선택국가의 데이터(연,월,방문객수,연간증가율) 추출과
#    결측치를 처리한 데이터프레임 생성
#------------------
countryDataFrame = utils2.getCountryDataFrame(continentDataFrame,countryNameKor)
countryDataFrame

      Year Month  NumVisitors  annualGrowthRate
0    2004년    1월       2.6602          0.549691
1    2004년    2월       0.0000          0.000000
2    2004년    3월       0.0000          0.000000
3    2004년    4월       0.0000          0.000000
4    2004년    5월       0.0000          0.000000
..     ...   ...          ...               ...
228  2023년    1월       0.7142          3.970077
229  2023년    2월       0.0000          0.000000
230  2023년    3월       0.0000          0.000000
231  2023년    4월       0.0000          0.000000
232  2023년    5월       0.0000          0.000000

[233 rows x 4 columns]

In [433]:
# 3) 데이터 타입변환을 위한 info출력
#------------------
countryDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              233 non-null    object
 1   Month             233 non-null    object
 2   NumVisitors       233 non-null    float64
 3   annualGrowthRate  233 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.4+ KB

In [434]:
# 4) 연속된 값으로 날짜처리(Date는 DataFrame의 index로 실제 csv에 반영X)
#------------------
countryDataFrame = utils2.changeYearAndMonthDtypeToInt(countryDataFrame)
countryDataFrame

     Year  Month  NumVisitors  annualGrowthRate       Date
0    2004      1       2.6602          0.549691 2004-01-01
1    2004      2       0.0000          0.000000 2004-02-01
2    2004      3       0.0000          0.000000 2004-03-01
3    2004      4       0.0000          0.000000 2004-04-01
4    2004      5       0.0000          0.000000 2004-05-01
..    ...    ...          ...               ...        ...
228  2023      1       0.7142          3.970077 2023-01-01
229  2023      2       0.0000          0.000000 2023-02-01
230  2023      3       0.0000          0.000000 2023-03-01
231  2023      4       0.0000          0.000000 2023-04-01
232  2023      5       0.0000          0.000000 2023-05-01

[233 rows x 5 columns]

In [435]:
# 5) 선택한 날짜로 필터링
#------------------
countryDataFrame = utils2.extractDataByDateFilter(countryDataFrame,startDate,endDate)
display(countryDataFrame)

     Year  Month  NumVisitors  annualGrowthRate       Date
173  2018      6       0.0000          0.000000 2018-06-01
174  2018      7       4.8349          0.137624 2018-07-01
175  2018      8       0.0000          0.000000 2018-08-01
176  2018      9       0.0000          0.000000 2018-09-01
177  2018     10       0.8697         -0.010918 2018-10-01
178  2018     11       0.0000          0.000000 2018-11-01
179  2018     12       0.0000          0.000000 2018-12-01
180  2019      1       0.7386          0.031997 2019-01-01
181  2019      2       0.0000          0.000000 2019-02-01
182  2019      3       0.0000          0.000000 2019-03-01
183  2019      4       2.1378          0.069916 2019-04-01
184  2019      5       0.0000          0.000000 2019-05-01

In [436]:
# 6-1) 컬럼 재정렬
#------------------
countryDataFrame = utils2.arrangeDataFrameColumns(countryDataFrame)
countryDataFrame

     Year  Month       Date  NumVisitors  annualGrowthRate
173  2018      6 2018-06-01       0.0000          0.000000
174  2018      7 2018-07-01       4.8349          0.137624
175  2018      8 2018-08-01       0.0000          0.000000
176  2018      9 2018-09-01       0.0000          0.000000
177  2018     10 2018-10-01       0.8697         -0.010918
178  2018     11 2018-11-01       0.0000          0.000000
179  2018     12 2018-12-01       0.0000          0.000000
180  2019      1 2019-01-01       0.7386          0.031997
181  2019      2 2019-02-01       0.0000          0.000000
182  2019      3 2019-03-01       0.0000          0.000000
183  2019      4 2019-04-01       2.1378          0.069916
184  2019      5 2019-05-01       0.0000          0.000000

In [437]:
# 6.xx) Year 와 Month를 object로 변환(선택)
#------------------
countryDataFrame = utils2.changeYearAndMonthDtypeToObject(countryDataFrame)
countryDataFrame

      Year Month       Date  NumVisitors  annualGrowthRate
173  2018년    6월 2018-06-01       0.0000          0.000000
174  2018년    7월 2018-07-01       4.8349          0.137624
175  2018년    8월 2018-08-01       0.0000          0.000000
176  2018년    9월 2018-09-01       0.0000          0.000000
177  2018년   10월 2018-10-01       0.8697         -0.010918
178  2018년   11월 2018-11-01       0.0000          0.000000
179  2018년   12월 2018-12-01       0.0000          0.000000
180  2019년    1월 2019-01-01       0.7386          0.031997
181  2019년    2월 2019-02-01       0.0000          0.000000
182  2019년    3월 2019-03-01       0.0000          0.000000
183  2019년    4월 2019-04-01       2.1378          0.069916
184  2019년    5월 2019-05-01       0.0000          0.000000

In [438]:
# 6.xx) 데이터 타입 변환 확인용(선택)
#------------------
countryDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 173 to 184
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              12 non-null     object
 1   Month             12 non-null     object
 2   Date              12 non-null     datetime64[ns]
 3   NumVisitors       12 non-null     float64
 4   annualGrowthRate  12 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 576.0+ bytes

In [439]:
# 6.xx) 인덱스 초기화(선택)
#------------------
countryDataFrame = utils2.resetIndexForDataFrame(countryDataFrame)
countryDataFrame

     Year Month       Date  NumVisitors  annualGrowthRate
0   2018년    6월 2018-06-01       0.0000          0.000000
1   2018년    7월 2018-07-01       4.8349          0.137624
2   2018년    8월 2018-08-01       0.0000          0.000000
3   2018년    9월 2018-09-01       0.0000          0.000000
4   2018년   10월 2018-10-01       0.8697         -0.010918
5   2018년   11월 2018-11-01       0.0000          0.000000
6   2018년   12월 2018-12-01       0.0000          0.000000
7   2019년    1월 2019-01-01       0.7386          0.031997
8   2019년    2월 2019-02-01       0.0000          0.000000
9   2019년    3월 2019-03-01       0.0000          0.000000
10  2019년    4월 2019-04-01       2.1378          0.069916
11  2019년    5월 2019-05-01       0.0000          0.000000

In [440]:
# 6.xx) 날짜 필터링된 데이터프레임의 시작과 끝 년월을 문자열로 추출
#------------------
startYear,startMonth,endYear,endMonth = utils2.getStrYearAndMonth(countryDataFrame)

print(startYear)
print(startMonth)

print(endYear)
print(endMonth)

2018년
6월
2019년
5월

In [441]:
# 7) 결과를 CSV로 저장
#------------------
fileRoot = f'./resultData/'
fileName = f'{countryNameKor}_{countryNameEng}DataFrame_({startYear}{startMonth}~{endYear}{endMonth})'
fileExtention = '.csv'
filePath = fileRoot + fileName + fileExtention

countryDataFrame.to_csv(filePath, encoding='utf-8-sig', index=False)
countryDataFrame

     Year Month       Date  NumVisitors  annualGrowthRate
0   2018년    6월 2018-06-01       0.0000          0.000000
1   2018년    7월 2018-07-01       4.8349          0.137624
2   2018년    8월 2018-08-01       0.0000          0.000000
3   2018년    9월 2018-09-01       0.0000          0.000000
4   2018년   10월 2018-10-01       0.8697         -0.010918
5   2018년   11월 2018-11-01       0.0000          0.000000
6   2018년   12월 2018-12-01       0.0000          0.000000
7   2019년    1월 2019-01-01       0.7386          0.031997
8   2019년    2월 2019-02-01       0.0000          0.000000
9   2019년    3월 2019-03-01       0.0000          0.000000
10  2019년    4월 2019-04-01       2.1378          0.069916
11  2019년    5월 2019-05-01       0.0000          0.000000